.page-container {
  width: 100vw;
  height: 100vh;
  background: #bdff6b;
  display: flex;
  justify-content: center;
}

.loading-image {
  width: 90vw;
  height: 50%;
  margin-top: 20vh;
  object-fit: contain;
}
