.upload{
    width: 300px;
    height: 150px;
    background-color: black;
}

.loadingBar{
    width: 250px;
    height: 30px;
    margin-left: 23px;
    border: 2px solid rgba(189, 255, 107, 1);
    margin-top: 40px;
}

.textBox_upload{
    margin-top: 15px;
    color: var(--white, #FFF);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}