.layoutDeco {
    padding-top: 30px;
    min-height: 90vh;
    position: relative;
    width: 100%;
}

.avatarDeco{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.chooseBtnGroup button{
    border: 0px solid skyblue;
    background-color: rgba(0,0,0,0);
 }

.chooseBtnGroup{
    border: 1px solid black;
    position: absolute;
    padding: 5px;
    bottom: 53%;
    margin-left: 5%;
}

#btn_face{
    width: 36px;
    height: 36px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

#btn_cloth{
    width: 36px;
    height: 36px;
    background-color: rgb(0, 0, 0);
}

.faceDeco{
    width: 100%;
    height: 50%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    overflow: auto;
    padding-top: 18px;
    text-align: center;
}

.item_box{
    display:inline-block;
    margin: 3%;
    width: 25%;
    height: 25vw;
    border: 1px solid black;
    background-color: rgb(0, 0, 0, 0.7);
    /* when select the box
    border: 2px solid #BDFF6B;
    box-shadow: 3px 3px;
    */
}

.faceBtnGroup{
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
}
.face_btn{
    float: left;
    margin-left: 23px;
    width : 50px;
    height: 100%;
    border: 1px solid #000;
    background: #FFF;
    /* when select the box
    background: #BDFF6B;
    box-shadow: 2px 2px;
    */
    text-align: center;
    line-height: 30px;
}