/* #parentDiv-home .postSheet[data-rsbs-overlay]  이게 아니라 */
/* .postSheet[data-rsbs-overlay]  이리 함 */
.postSheet[data-rsbs-overlay] {
  border-top-left-radius: 16px;
  border-top-left-radius: var(--rsbs-overlay-rounded, 16px);
  border-top-right-radius: 16px;
  border-top-right-radius: var(--rsbs-overlay-rounded, 16px);
  display: flex;
  background: #fff;
  background: var(--rsbs-bg, #fff);
  flex-direction: column;
  height: 0px;
  height: var(--rsbs-overlay-h, 0px);
  transform: translate3d(0, 0px, 0);
  transform: translate3d(0, var(--rsbs-overlay-translate-y, 0px), 0);
  will-change: height;
}

.postSheet[data-rsbs-overlay]:focus {
  outline: none;
}

.postSheet[data-rsbs-is-blocking="false"] .postSheet[data-rsbs-overlay] {
  box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.11), 0 -1px 0 rgba(38, 89, 115, 0.05);
}

.postSheet[data-rsbs-overlay],
.postSheet[data-rsbs-root]:after {
  max-width: auto;
  max-width: var(--rsbs-max-w, auto);
  margin-left: env(safe-area-inset-left);
  margin-left: var(--rsbs-ml, env(safe-area-inset-left));
  margin-right: env(safe-area-inset-right);
  margin-right: var(--rsbs-mr, env(safe-area-inset-right));
}

.postSheet[data-rsbs-overlay],
.postSheet[data-rsbs-backdrop],
.postSheet[data-rsbs-root]:after {
  z-index: 3;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
  right: 0;
  /* 이 부분 수정해서 바텀 높이 올림 */
  bottom: 88px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.postSheet[data-rsbs-backdrop] {
  top: -60px;
  bottom: -60px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  /* background-color: var(--rsbs-backdrop-bg,rgba(0, 0, 0, 0.6)); */
  will-change: opacity;
  cursor: pointer;
  opacity: 1;
}

.postSheet[data-rsbs-is-dismissable="false"] .postSheet[data-rsbs-backdrop] {
  cursor: ns-resize;
}

.postSheet[data-rsbs-root]:after {
  content: "";
  pointer-events: none;
  background: #fff;
  background: var(--rsbs-bg, #fff);
  height: 1px;
  transform-origin: bottom;
  transform: scale3d(1, 0, 1);
  transform: scale3d(1, var(--rsbs-antigap-scale-y, 0), 1);
  will-change: transform;
}

.postSheet[data-rsbs-footer],
.postSheet[data-rsbs-header] {
  flex-shrink: 0;
  cursor: ns-resize;
  padding: 16px;
}

.postSheet[data-rsbs-header] {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 0 rgba(46, 59, 66, calc(1 * 0.125));
  box-shadow: 0 1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity, 1) * 0.125));
  z-index: 999;

  /* 커스텀할 내용 추가 */
  height: 50px;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: rgb(0, 0, 0, 1);
}

/* .postSheet[data-rsbs-header]:before {
    position: absolute;
    content: '';
    display: block;
    width: 36px;
    height: 4px;
    top: calc(8px + env(safe-area-inset-top));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.14);
    background-color: var(--rsbs-handle-bg,hsla(0, 0%, 0%, 0.14));
  } */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .postSheet[data-rsbs-header]:before {
    transform: translateX(-50%) scaleY(0.75);
  }
}

.postSheet[data-rsbs-has-header="false"] .postSheet[data-rsbs-header] {
  box-shadow: none;
  padding-top: calc(12px + env(safe-area-inset-top));
}

.postSheet[data-rsbs-scroll] {
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  /* 커스텀할 내용 추가 */
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.postSheet[data-rsbs-scroll]:focus {
  outline: none;
}

.postSheet[data-rsbs-has-footer="false"] .postSheet[data-rsbs-content] {
  padding-bottom: env(safe-area-inset-bottom);
}

.postSheet[data-rsbs-content] {
  /* The overflow hidden is to ensure any margin on child nodes are included when the resize observer is measuring the height */
  overflow: none;
  height: 100%;
  /* 기기 크기로 맞춰야함 */
}

.postSheet[data-rsbs-footer] {
  box-shadow: 0 -1px 0 rgba(46, 59, 66, calc(1 * 0.125)), 0 2px 0 #fff;
  box-shadow: 0 -1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity, 1) * 0.125)), 0 2px 0 var(--rsbs-bg, #fff);
  overflow: hidden;
  z-index: 1;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.postSheet[data-rsbs-is-dismissable="true"] .postSheet[data-rsbs-header] > *,
.postSheet[data-rsbs-is-dismissable="true"] .postSheet[data-rsbs-scroll] > *,
.postSheet[data-rsbs-is-dismissable="true"] .postSheet[data-rsbs-footer] > *,
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="opening"] .postSheet[data-rsbs-header] > *,
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="closing"] .postSheet[data-rsbs-header] > *,
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="opening"] .postSheet[data-rsbs-scroll] > *,
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="closing"] .postSheet[data-rsbs-scroll] > *,
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="opening"] .postSheet[data-rsbs-footer] > *,
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="closing"] .postSheet[data-rsbs-footer] > * {
  opacity: 1;
  opacity: var(--rsbs-content-opacity, 1);
}

.postSheet[data-rsbs-is-dismissable="true"] .postSheet[data-rsbs-backdrop],
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="opening"] .postSheet[data-rsbs-backdrop],
.postSheet[data-rsbs-is-dismissable="false"].postSheet[data-rsbs-state="closing"] .postSheet[data-rsbs-backdrop] {
  opacity: 1;
  opacity: var(--rsbs-backdrop-opacity, 1);
}

.postSheet[data-rsbs-state="closed"],
.postSheet[data-rsbs-state="closing"],
.postSheet[data-rsbs-state="snapping"] {
  /* Allows interactions on the rest of the page before the close transition is finished */
  pointer-events: none;
}

/* 헤더 커스텀 */
.bottomBar {
}

.bottomBar div {
  float: left;
  color: white;
  padding: 5px;
}

.bottomBar .num {
  float: left;
  padding-right: 10px;
}

/* 내용 커스텀 */

.comment-get-layout {
  height: 85%;
  overflow: auto;
}

.commentBox {
  width: 92%;
  height: fit-content;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.commentTop {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.profileImg {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #d9d9d9;
}

.userName {
  float: left;
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  margin-left: 20px;
  font-size: 20px;
}

.writeComment {
  height: 15%;
  display: flex;
}

.commentInput {
  display: flex;
}

.commentInput textarea {
  height: 100%;
  padding: 10px;
  width: 79.5vw;
  border: 0;
  border: 1px solid #000;
  background: #fff;
}

.Btn_comment {
  border: 1px solid #000;
  background: #e3e3e3;
  width: 60px;
}

.BottomSheet-content {
  height: 100%;
}
