.footer {
  height: 88px;
  background-color: #454545;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  position: fixed;
}

#footerBtnGroup button {
  flex: 1;
  border: 0px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#footerBtnGroup {
  display: flex;
  align-items: stretch;
  height: 100%;
}
