.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100vw;
  /* background-color: #dde0ea; */
  text-align: center;
  z-index: 9999; /* 다른 요소보다 더 위에 쌓이도록 높은 z-index 값 설정 */
}

#headerBtnGroup button {
  border: 0px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#headerBtnGroup div {
  display: inline-block;
}

.leftBtnGroup {
  float: left;
  margin-top: 10px;
}

.rightBtnGroup {
  float: right;
  margin-top: 10px;
}
