/* .layout {
    padding-top: 52px;
    padding-bottom: 88px;
    min-height: 70vh;
    position: relative;
    width: 100%;
    background-color: aqua;
} */

.content{
    position: absolute;
    background-color: rgb(251, 3, 3);
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    margin-bottom: 88px;
}

.aaa{
    width: 100%;
    height: 1000px;
}