.marignBox {
  padding: 0.5vw;
  width: 99vw;
  text-align: center;
}

.title {
  height: 45px;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 5px solid black;
}

.titleInput {
  width: 90vw;
  height: 40px;
  background: transparent;
  border: 0;
  margin-top: 3px;
}

.writing {
  height: 80vh;
  padding: 10px;
  border: 1px solid black;
}

.writingInput {
  width: 90vw;
  margin-top: 10px;
  background: transparent;
  border: 0;
}

.toolBar {
  width: 100vw;
  height: 50px;
  background-color: white;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 88px;
}

.camera {
  width: 50px;
  height: 50px;
  padding-left: 20px;
  padding-top: 5px;
}

.camera img {
  width: 40px;
  height: 40px;
}

.img-upload-box {
  width: 100%;

  margin-top: 10px;
  display: flex;

  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  align-items: center;
  justify-content: space-around;
}

.img-upload-preview {
  /* width: 33%;
    height: 30vw; */
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}

.img-upload-preview div {
  position: absolute;
  width: 20px;
  margin: 3px;
  right: 0px;
}

.img-upload-preview img {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  object-fit: contain; /* 이미지의 원래 비율 유지 */
}
