.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  /* background-color: #dde0ea; */
  text-align: center;
  z-index: 9999; /* 다른 요소보다 더 위에 쌓이도록 높은 z-index 값 설정 */
  height: 50px;
  background-color: rgb(0, 0, 0, 1);
}

.btn_close {
  border: 0px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  margin-right: 5px;
  margin-top: 7px;
}

.headerBtnGroup div {
  display: inline-block;
}

.leftBtnGroup div {
  float: left;
  color: white;
  padding: 5px;
}

.rightBtnGroup {
  float: right;
}

/* 헤더 커스텀 */
.bottomBar {
}
/* 
.header div{
  float: left;
  color: white;
  padding: 5px;
} */

.header .num {
  float: left;
  padding-right: 10px;
}
